<% if collections.any? %>
<ul id="products" class="inline product-listing" data-hook>
  <% collections.each do |collection| %>
    <% url = "t/fabric/collection/#{collection.name}".downcase.gsub(/\s+/, "-") %>
    <li id="product_<%= collection.id %>" class="columns three <%= cycle("alpha", "secondary", "", "omega secondary", :name => "classes") %>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
      <div class="product-image">
        <%= link_to small_image(collection.products.first, :itemprotp => "image"), url, :itemprop => 'url' %>
      </div>
      <%= link_to collection.name, url %>
    </li>
  <% end %>
  <% reset_cycle("classes") %>
</ul>
<% end %>
