<nav id="mobile-menu">
  <div id="hamburger" >
    <ul class="mob-menu-list">
      <li id="hmb_menu"><i class="fa fa-bars fa-3x"></i>
        <table class="mobile-subtaxon-menu">
<tr>          <td class="mobile-subtaxon-menu-item">Home</td></tr>
<tr>          <td class="mobile-subtaxon-menu-item">Fabric</td></tr>
<tr>          <td class="mobile-subtaxon-menu-item">Haberdashery</td></tr>
<tr>          <td class="mobile-subtaxon-menu-item">Size Guide</td></tr>
<tr>          <td class="mobile-subtaxon-menu-item">Detdvery</td></tr>
<tr>          <td class="mobile-subtaxon-menu-item">Blog</td></tr>
<tr>          <td class="mobile-subtaxon-menu-item">My Account</td></tr>
<tr>          <td class="mobile-subtaxon-menu-item">Logout</td></tr>
        </table>
      </li>
      <li id="srch"><%= render :partial => 'spree/shared/search' %></li>
    <ul>
  </div>
</nav>
