<nav id="mobile-menu">
  <div id="hamburger" >
    <ul class="mob-menu-list">
      <li id="hmb_menu"><i class="fa fa-bars fa-3x"></i></li>
      <li id="srch"><%= render :partial => 'spree/shared/search' %></li>
    <ul>
  </div>
</nav>
