<nav id="mobile-menu">
  <div id="hamburger" >
    <ul class="mob-menu-list">
      <li><i class="fa fa-bars fa-3x"></i></li>
      <li><%= render :partial => 'spree/shared/search' %></li>
    <ul>
  </div>

  <ul>
  </ul>
</nav>
